@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 338 52% 94%;
    --foreground: 330 25% 25%;
    --card: 338 52% 96%;
    --card-foreground: 330 25% 25%;
    --popover: 338 52% 96%;
    --popover-foreground: 330 25% 25%;
    --primary: 348 100% 85%;
    --primary-foreground: 330 25% 15%;
    --secondary: 340 70% 96%;
    --secondary-foreground: 330 25% 25%;
    --muted: 340 70% 96%;
    --muted-foreground: 330 25% 55%;
    --accent: 240 67% 94%;
    --accent-foreground: 240 25% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 348 100% 88%;
    --input: 348 100% 88%;
    --ring: 348 100% 85%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 348 90% 60%;
    --primary-foreground: 356 100% 97%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 348 90% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes sway {
  0%,
  100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

@keyframes blink {
  0%,
  95%,
  100% {
    transform: scaleY(1);
  }
  97.5% {
    transform: scaleY(0.1);
  }
}

@keyframes head-nod {
  0%,
  100% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(2px) rotate(0.5deg);
  }
}

.character-sway {
  animation: sway 10s ease-in-out infinite;
  transform-origin: bottom center;
}

.character-blink {
  animation: blink 5s infinite;
  transform-origin: center;
}

.character-head-nod {
  animation: head-nod 8s ease-in-out infinite;
  transform-origin: bottom center;
}
